In [2]:
import pandas as pd

In [5]:
df =pd.read_csv("ViratData.csv")

In [6]:
df

,Runs,Mins,BF,4s,6s,SR,Pos,Dismissal,Inns,Opposition,Ground,Start Date
0,12,33,22,1,0,54.54,2,lbw,1,ODI v Sri Lanka,Dambulla,18-Aug-08
1,37,82,67,6,0,55.22,2,caught,2,ODI v Sri Lanka,Dambulla,20-Aug-08
2,25,40,38,4,0,65.78,1,run out,1,ODI v Sri Lanka,Colombo (RPS),24-Aug-08
3,54,87,66,7,0,81.81,1,bowled,1,ODI v Sri Lanka,Colombo (RPS),27-Aug-08
4,31,45,46,3,1,67.39,1,lbw,2,ODI v Sri Lanka,Colombo (RPS),29-Aug-08
...,...,...,...,...,...,...,...,...,...,...,...,...
603,76,137,82,12,1,92.68,4,caught,3,Test v South Africa,Centurion,26-Dec-23
604,46,103,59,6,1,77.96,4,caught,2,Test v South Africa,Cape Town,03-Jan-24
605,12,13,11,2,0,109.09,4,caught,4,Test v South Africa,Cape Town,03-Jan-24
606,29,20,16,5,0,181.25,3,caught,2,T20I v Afghanistan,Indore,14-Jan-24
607,0,1,1,0,0,0,3,caught,1,T20I v Afghanistan,Bengaluru,17-Jan-24

In [7]:
df['Match_Format'] = df['Opposition'].str.split('v').str[0].str.strip()

In [9]:
df

,Runs,Mins,BF,4s,6s,SR,Pos,Dismissal,Inns,Opposition,Ground,Start Date,Match_Format
0,12,33,22,1,0,54.54,2,lbw,1,ODI v Sri Lanka,Dambulla,18-Aug-08,ODI
1,37,82,67,6,0,55.22,2,caught,2,ODI v Sri Lanka,Dambulla,20-Aug-08,ODI
2,25,40,38,4,0,65.78,1,run out,1,ODI v Sri Lanka,Colombo (RPS),24-Aug-08,ODI
3,54,87,66,7,0,81.81,1,bowled,1,ODI v Sri Lanka,Colombo (RPS),27-Aug-08,ODI
4,31,45,46,3,1,67.39,1,lbw,2,ODI v Sri Lanka,Colombo (RPS),29-Aug-08,ODI
...,...,...,...,...,...,...,...,...,...,...,...,...,...
603,76,137,82,12,1,92.68,4,caught,3,Test v South Africa,Centurion,26-Dec-23,Test
604,46,103,59,6,1,77.96,4,caught,2,Test v South Africa,Cape Town,03-Jan-24,Test
605,12,13,11,2,0,109.09,4,caught,4,Test v South Africa,Cape Town,03-Jan-24,Test
606,29,20,16,5,0,181.25,3,caught,2,T20I v Afghanistan,Indore,14-Jan-24,T20I
607,0,1,1,0,0,0,3,caught,1,T20I v Afghanistan,Bengaluru,17-Jan-24,T20I

In [10]:
df['Match_Opposition'] = df['Opposition'].str.split('v').str[1].str.strip()

In [11]:
df.head()

,Runs,Mins,BF,4s,6s,SR,Pos,Dismissal,Inns,Opposition,Ground,Start Date,Match_Format,Match_Opposition
0,12,33,22,1,0,54.54,2,lbw,1,ODI v Sri Lanka,Dambulla,18-Aug-08,ODI,Sri Lanka
1,37,82,67,6,0,55.22,2,caught,2,ODI v Sri Lanka,Dambulla,20-Aug-08,ODI,Sri Lanka
2,25,40,38,4,0,65.78,1,run out,1,ODI v Sri Lanka,Colombo (RPS),24-Aug-08,ODI,Sri Lanka
3,54,87,66,7,0,81.81,1,bowled,1,ODI v Sri Lanka,Colombo (RPS),27-Aug-08,ODI,Sri Lanka
4,31,45,46,3,1,67.39,1,lbw,2,ODI v Sri Lanka,Colombo (RPS),29-Aug-08,ODI,Sri Lanka

In [12]:
df.drop(columns=['Opposition'], inplace=True)

In [13]:
df.head()

,Runs,Mins,BF,4s,6s,SR,Pos,Dismissal,Inns,Ground,Start Date,Match_Format,Match_Opposition
0,12,33,22,1,0,54.54,2,lbw,1,Dambulla,18-Aug-08,ODI,Sri Lanka
1,37,82,67,6,0,55.22,2,caught,2,Dambulla,20-Aug-08,ODI,Sri Lanka
2,25,40,38,4,0,65.78,1,run out,1,Colombo (RPS),24-Aug-08,ODI,Sri Lanka
3,54,87,66,7,0,81.81,1,bowled,1,Colombo (RPS),27-Aug-08,ODI,Sri Lanka
4,31,45,46,3,1,67.39,1,lbw,2,Colombo (RPS),29-Aug-08,ODI,Sri Lanka

In [14]:
df.rename(columns={'Match_Opposition': 'Opposition'}, inplace=True)

In [15]:
df.head()

,Runs,Mins,BF,4s,6s,SR,Pos,Dismissal,Inns,Ground,Start Date,Match_Format,Opposition
0,12,33,22,1,0,54.54,2,lbw,1,Dambulla,18-Aug-08,ODI,Sri Lanka
1,37,82,67,6,0,55.22,2,caught,2,Dambulla,20-Aug-08,ODI,Sri Lanka
2,25,40,38,4,0,65.78,1,run out,1,Colombo (RPS),24-Aug-08,ODI,Sri Lanka
3,54,87,66,7,0,81.81,1,bowled,1,Colombo (RPS),27-Aug-08,ODI,Sri Lanka
4,31,45,46,3,1,67.39,1,lbw,2,Colombo (RPS),29-Aug-08,ODI,Sri Lanka

In [17]:
df.dtypes

Runs            object
Mins            object
BF              object
4s              object
6s              object
SR              object
Pos             object
Dismissal       object
Inns            object
Ground          object
Start Date      object
Match_Format    object
Opposition      object
dtype: object

In [23]:
df.rename(columns={'Pos': 'Batting Position',
'BF': 'Ball Faced',
'SR':'Strike Rate'},inplace=True)


# pos= Batting Position
# BF= Ball Faced
# SR=Strike Rate

In [24]:
df

,Runs,Mins,Ball Faced,4s,6s,Strike Rate,Batting Position,Dismissal,Inns,Ground,Start Date,Match_Format,Opposition
0,12,33,22,1,0,54.54,2,lbw,1,Dambulla,18-Aug-08,ODI,Sri Lanka
1,37,82,67,6,0,55.22,2,caught,2,Dambulla,20-Aug-08,ODI,Sri Lanka
2,25,40,38,4,0,65.78,1,run out,1,Colombo (RPS),24-Aug-08,ODI,Sri Lanka
3,54,87,66,7,0,81.81,1,bowled,1,Colombo (RPS),27-Aug-08,ODI,Sri Lanka
4,31,45,46,3,1,67.39,1,lbw,2,Colombo (RPS),29-Aug-08,ODI,Sri Lanka
...,...,...,...,...,...,...,...,...,...,...,...,...,...
603,76,137,82,12,1,92.68,4,caught,3,Centurion,26-Dec-23,Test,South Africa
604,46,103,59,6,1,77.96,4,caught,2,Cape Town,03-Jan-24,Test,South Africa
605,12,13,11,2,0,109.09,4,caught,4,Cape Town,03-Jan-24,Test,South Africa
606,29,20,16,5,0,181.25,3,caught,2,Indore,14-Jan-24,T20I,Afghanistan
607,0,1,1,0,0,0,3,caught,1,Bengaluru,17-Jan-24,T20I,Afghanistan

In [41]:
tdnb_rows = df[df['Runs']=='TDNB']

In [42]:
tdnb_rows

,Runs,Mins,Ball Faced,4s,6s,Strike Rate,Batting Position,Dismissal,Inns,Ground,Start Date,Match_Format,Opposition
7,TDNB,-,-,-,-,-,-,-,-,Centurion,28-Sep-09,ODI,Australia
14,TDNB,-,-,-,-,-,-,-,-,Delhi,27-Dec-09,ODI,Sri Lanka
180,TDNB,-,-,-,-,-,-,-,-,Centurion,11-Dec-13,ODI,South Africa
293,TDNB,-,-,-,-,-,-,-,-,Port of Spain,18-Aug-16,Test,West Indies
408,TDNB,-,-,-,-,-,-,-,-,Melbourne,23-Nov-18,T20I,Australia
442,TDNB,-,-,-,-,-,-,-,-,Providence,08-Aug-19,ODI,West Indies
463,TDNB,-,-,-,-,-,-,-,-,Guwahati,05-Jan-20,T20I,Sri Lanka

In [47]:
df.loc[tdnb_rows.index, ['Mins', 'Ball Faced', '4s', '6s', 'Strike Rate', 'Batting Position', 'Dismissal', 'Inns']] = 0

In [48]:

df[df['Runs'] == 'TDNB']

,Runs,Mins,Ball Faced,4s,6s,Strike Rate,Batting Position,Dismissal,Inns,Ground,Start Date,Match_Format,Opposition,BF,SR,Pos
7,TDNB,0,0,0,0,0,0,0,0,Centurion,28-Sep-09,ODI,Australia,0.0,0.0,0.0
14,TDNB,0,0,0,0,0,0,0,0,Delhi,27-Dec-09,ODI,Sri Lanka,0.0,0.0,0.0
180,TDNB,0,0,0,0,0,0,0,0,Centurion,11-Dec-13,ODI,South Africa,0.0,0.0,0.0
293,TDNB,0,0,0,0,0,0,0,0,Port of Spain,18-Aug-16,Test,West Indies,0.0,0.0,0.0
408,TDNB,0,0,0,0,0,0,0,0,Melbourne,23-Nov-18,T20I,Australia,0.0,0.0,0.0
442,TDNB,0,0,0,0,0,0,0,0,Providence,08-Aug-19,ODI,West Indies,0.0,0.0,0.0
463,TDNB,0,0,0,0,0,0,0,0,Guwahati,05-Jan-20,T20I,Sri Lanka,0.0,0.0,0.0

In [58]:
df.loc[tdnb_rows.index, [ 'Dismissal']] = 'Team Did Not Bat'

In [60]:
df.drop(columns=['BF','SR','Pos'], inplace=True)

In [49]:
df.loc[tdnb_rows.index, ['Runs']] = 0

In [61]:
df[df['Runs'] == 0]

,Runs,Mins,Ball Faced,4s,6s,Strike Rate,Batting Position,Dismissal,Inns,Ground,Start Date,Match_Format,Opposition
7,0,0,0,0,0,0,0,Team Did Not Bat,0,Centurion,28-Sep-09,ODI,Australia
14,0,0,0,0,0,0,0,Team Did Not Bat,0,Delhi,27-Dec-09,ODI,Sri Lanka
180,0,0,0,0,0,0,0,Team Did Not Bat,0,Centurion,11-Dec-13,ODI,South Africa
293,0,0,0,0,0,0,0,Team Did Not Bat,0,Port of Spain,18-Aug-16,Test,West Indies
408,0,0,0,0,0,0,0,Team Did Not Bat,0,Melbourne,23-Nov-18,T20I,Australia
442,0,0,0,0,0,0,0,Team Did Not Bat,0,Providence,08-Aug-19,ODI,West Indies
463,0,0,0,0,0,0,0,Team Did Not Bat,0,Guwahati,05-Jan-20,T20I,Sri Lanka

In [72]:
dnb_rows = df[df['Runs']=='DNB']

In [73]:
dnb_rows

Empty DataFrame
Columns: [Runs, Mins, Ball Faced, 4s, 6s, Strike Rate, Batting Position, Dismissal, Inns, Ground, Start Date, Match_Format, Opposition]
Index: []

In [69]:
df.loc[dnb_rows.index, ['Mins', 'Ball Faced', '4s', '6s', 'Strike Rate', 'Batting Position', 'Runs', 'Inns']] = 0

In [74]:
dnb_rows

Empty DataFrame
Columns: [Runs, Mins, Ball Faced, 4s, 6s, Strike Rate, Batting Position, Dismissal, Inns, Ground, Start Date, Match_Format, Opposition]
Index: []

In [68]:
df.head(10)

,Runs,Mins,Ball Faced,4s,6s,Strike Rate,Batting Position,Dismissal,Inns,Ground,Start Date,Match_Format,Opposition
0,12,33,22,1,0,54.54,2,lbw,1,Dambulla,18-Aug-08,ODI,Sri Lanka
1,37,82,67,6,0,55.22,2,caught,2,Dambulla,20-Aug-08,ODI,Sri Lanka
2,25,40,38,4,0,65.78,1,run out,1,Colombo (RPS),24-Aug-08,ODI,Sri Lanka
3,54,87,66,7,0,81.81,1,bowled,1,Colombo (RPS),27-Aug-08,ODI,Sri Lanka
4,31,45,46,3,1,67.39,1,lbw,2,Colombo (RPS),29-Aug-08,ODI,Sri Lanka
5,2*,6,2,0,0,100,7,not out,1,Colombo (RPS),14-Sep-09,ODI,Sri Lanka
6,16,28,24,1,0,66.66,4,caught,2,Centurion,26-Sep-09,ODI,Pakistan
7,0,0,0,0,0,0,0,Team Did Not Bat,0,Centurion,28-Sep-09,ODI,Australia
8,79*,121,104,9,2,75.96,4,not out,2,Johannesburg,30-Sep-09,ODI,West Indies
9,30,53,41,3,0,73.17,4,caught,2,Vadodara,25-Oct-09,ODI,Australia

In [76]:
df[df['Dismissal']=='-']

,Runs,Mins,Ball Faced,4s,6s,Strike Rate,Batting Position,Dismissal,Inns,Ground,Start Date,Match_Format,Opposition
21,0,0,0,0,0,0,0,-,0,Gwalior,24-Feb-10,ODI,South Africa
28,0,0,0,0,0,0,0,-,0,Harare,13-Jun-10,T20I,Zimbabwe
68,0,0,0,0,0,0,0,-,0,Roseau,06-Jul-11,Test,West Indies
109,0,0,0,0,0,0,0,-,0,Johannesburg,30-Mar-12,T20I,South Africa
145,0,0,0,0,0,0,0,-,0,Chennai,22-Feb-13,Test,Australia
164,0,0,0,0,0,0,0,-,0,Bulawayo,01-Aug-13,ODI,Zimbabwe
165,0,0,0,0,0,0,0,-,0,Bulawayo,03-Aug-13,ODI,Zimbabwe
170,0,0,0,0,0,0,0,-,0,Ranchi,23-Oct-13,ODI,Australia
197,0,0,0,0,0,0,0,-,0,Mirpur,05-Mar-14,ODI,Afghanistan
266,0,0,0,0,0,0,0,-,0,Bengaluru,14-Nov-15,Test,South Africa
282,0,0,0,0,0,0,0,-,0,Mirpur,03-Mar-16,T20I,U.A.E.
295,0,0,0,0,0,0,0,-,0,Lauderhill,28-Aug-16,T20I,West Indies
401,0,0,0,0,0,0,0,-,0,Hyderabad,12-Oct-18,Test,West Indies
493,0,0,0,0,0,0,0,-,0,Ahmedabad,24-Feb-21,Test,England
506,0,0,0,0,0,0,0,-,0,Nottingham,04-Aug-21,Test,England
515,0,0,0,0,0,0,0,-,0,Abu Dhabi,03-Nov-21,T20I,Afghanistan
517,0,0,0,0,0,0,0,-,0,Dubai (DICS),08-Nov-21,T20I,Namibia
583,0,0,0,0,0,0,0,-,0,Port of Spain,20-Jul-23,Test,West Indies
584,0,0,0,0,0,0,0,-,0,Bridgetown,27-Jul-23,ODI,West Indies
586,0,0,0,0,0,0,0,-,0,Pallekele,04-Sep-23,ODI,Nepal
589,0,0,0,0,0,0,0,-,0,Colombo (RPS),17-Sep-23,ODI,Sri Lanka

In [81]:
dnb_rows=df[df['Dismissal']=='-']

In [82]:
dnb_rows

,Runs,Mins,Ball Faced,4s,6s,Strike Rate,Batting Position,Dismissal,Inns,Ground,Start Date,Match_Format,Opposition
21,0,0,0,0,0,0,0,-,0,Gwalior,24-Feb-10,ODI,South Africa
28,0,0,0,0,0,0,0,-,0,Harare,13-Jun-10,T20I,Zimbabwe
68,0,0,0,0,0,0,0,-,0,Roseau,06-Jul-11,Test,West Indies
109,0,0,0,0,0,0,0,-,0,Johannesburg,30-Mar-12,T20I,South Africa
145,0,0,0,0,0,0,0,-,0,Chennai,22-Feb-13,Test,Australia
164,0,0,0,0,0,0,0,-,0,Bulawayo,01-Aug-13,ODI,Zimbabwe
165,0,0,0,0,0,0,0,-,0,Bulawayo,03-Aug-13,ODI,Zimbabwe
170,0,0,0,0,0,0,0,-,0,Ranchi,23-Oct-13,ODI,Australia
197,0,0,0,0,0,0,0,-,0,Mirpur,05-Mar-14,ODI,Afghanistan
266,0,0,0,0,0,0,0,-,0,Bengaluru,14-Nov-15,Test,South Africa
282,0,0,0,0,0,0,0,-,0,Mirpur,03-Mar-16,T20I,U.A.E.
295,0,0,0,0,0,0,0,-,0,Lauderhill,28-Aug-16,T20I,West Indies
401,0,0,0,0,0,0,0,-,0,Hyderabad,12-Oct-18,Test,West Indies
493,0,0,0,0,0,0,0,-,0,Ahmedabad,24-Feb-21,Test,England
506,0,0,0,0,0,0,0,-,0,Nottingham,04-Aug-21,Test,England
515,0,0,0,0,0,0,0,-,0,Abu Dhabi,03-Nov-21,T20I,Afghanistan
517,0,0,0,0,0,0,0,-,0,Dubai (DICS),08-Nov-21,T20I,Namibia
583,0,0,0,0,0,0,0,-,0,Port of Spain,20-Jul-23,Test,West Indies
584,0,0,0,0,0,0,0,-,0,Bridgetown,27-Jul-23,ODI,West Indies
586,0,0,0,0,0,0,0,-,0,Pallekele,04-Sep-23,ODI,Nepal
589,0,0,0,0,0,0,0,-,0,Colombo (RPS),17-Sep-23,ODI,Sri Lanka

In [83]:
df.loc[dnb_rows.index, ['Dismissal']] ='Did Not Bat'

In [84]:
df.head(25)

,Runs,Mins,Ball Faced,4s,6s,Strike Rate,Batting Position,Dismissal,Inns,Ground,Start Date,Match_Format,Opposition
0,12,33,22,1,0,54.54,2,lbw,1,Dambulla,18-Aug-08,ODI,Sri Lanka
1,37,82,67,6,0,55.22,2,caught,2,Dambulla,20-Aug-08,ODI,Sri Lanka
2,25,40,38,4,0,65.78,1,run out,1,Colombo (RPS),24-Aug-08,ODI,Sri Lanka
3,54,87,66,7,0,81.81,1,bowled,1,Colombo (RPS),27-Aug-08,ODI,Sri Lanka
4,31,45,46,3,1,67.39,1,lbw,2,Colombo (RPS),29-Aug-08,ODI,Sri Lanka
5,2*,6,2,0,0,100,7,not out,1,Colombo (RPS),14-Sep-09,ODI,Sri Lanka
6,16,28,24,1,0,66.66,4,caught,2,Centurion,26-Sep-09,ODI,Pakistan
7,0,0,0,0,0,0,0,Team Did Not Bat,0,Centurion,28-Sep-09,ODI,Australia
8,79*,121,104,9,2,75.96,4,not out,2,Johannesburg,30-Sep-09,ODI,West Indies
9,30,53,41,3,0,73.17,4,caught,2,Vadodara,25-Oct-09,ODI,Australia
10,10,32,16,1,0,62.5,3,caught,2,Mohali,02-Nov-09,ODI,Australia
11,27,20,19,4,0,142.1,7,bowled,1,Rajkot,15-Dec-09,ODI,Sri Lanka
12,54,93,65,7,0,83.07,4,lbw,1,Nagpur,18-Dec-09,ODI,Sri Lanka
13,107,-,114,11,1,93.85,4,caught,2,Eden Gardens,24-Dec-09,ODI,Sri Lanka
14,0,0,0,0,0,0,0,Team Did Not Bat,0,Delhi,27-Dec-09,ODI,Sri Lanka
15,9,19,12,1,0,75,3,caught,1,Mirpur,05-Jan-10,ODI,Sri Lanka
16,91,136,102,7,0,89.21,3,caught,2,Mirpur,07-Jan-10,ODI,Bangladesh
17,71*,98,68,9,0,104.41,3,not out,2,Mirpur,10-Jan-10,ODI,Sri Lanka
18,102*,128,95,11,0,107.36,3,not out,2,Mirpur,11-Jan-10,ODI,Bangladesh
19,2,6,8,0,0,25,3,caught,1,Mirpur,13-Jan-10,ODI,Sri Lanka
20,31,-,46,1,0,67.39,5,caught,1,Jaipur,21-Feb-10,ODI,South Africa
21,0,0,0,0,0,0,0,Did Not Bat,0,Gwalior,24-Feb-10,ODI,South Africa
22,57,-,71,4,1,80.28,3,caught,2,Ahmedabad,27-Feb-10,ODI,South Africa
23,0,3,0,0,0,-,3,run out,1,Bulawayo,28-May-10,ODI,Zimbabwe
24,82,125,92,4,0,89.13,3,caught,2,Bulawayo,30-May-10,ODI,Sri Lanka

In [86]:
df[df['Dismissal']=='not out']

,Runs,Mins,Ball Faced,4s,6s,Strike Rate,Batting Position,Dismissal,Inns,Ground,Start Date,Match_Format,Opposition
5,2*,6,2,0,0,100,7,not out,1,Colombo (RPS),14-Sep-09,ODI,Sri Lanka
8,79*,121,104,9,2,75.96,4,not out,2,Johannesburg,30-Sep-09,ODI,West Indies
17,71*,98,68,9,0,104.41,3,not out,2,Mirpur,10-Jan-10,ODI,Sri Lanka
18,102*,128,95,11,0,107.36,3,not out,2,Mirpur,11-Jan-10,ODI,Bangladesh
27,26*,30,21,3,1,123.8,5,not out,2,Harare,12-Jun-10,T20I,Zimbabwe
...,...,...,...,...,...,...,...,...,...,...,...,...,...
566,166*,173,110,13,8,150.9,3,not out,1,Thiruvananthapuram,15-Jan-23,ODI,Sri Lanka
587,122*,147,94,9,3,129.78,3,not out,1,Colombo (RPS),10-Sep-23,ODI,Pakistan
592,55*,64,56,6,0,98.21,3,not out,2,Delhi,11-Oct-23,ODI,Afghanistan
594,103*,113,97,6,4,106.18,3,not out,2,Pune,19-Oct-23,ODI,Bangladesh
598,101*,195,121,10,0,83.47,3,not out,1,Eden Gardens,05-Nov-23,ODI,South Africa

In [87]:
df['Runs'] = df['Runs'].str.replace('*', '')

In [88]:
df[df['Dismissal']=='not out']

,Runs,Mins,Ball Faced,4s,6s,Strike Rate,Batting Position,Dismissal,Inns,Ground,Start Date,Match_Format,Opposition
5,2,6,2,0,0,100,7,not out,1,Colombo (RPS),14-Sep-09,ODI,Sri Lanka
8,79,121,104,9,2,75.96,4,not out,2,Johannesburg,30-Sep-09,ODI,West Indies
17,71,98,68,9,0,104.41,3,not out,2,Mirpur,10-Jan-10,ODI,Sri Lanka
18,102,128,95,11,0,107.36,3,not out,2,Mirpur,11-Jan-10,ODI,Bangladesh
27,26,30,21,3,1,123.8,5,not out,2,Harare,12-Jun-10,T20I,Zimbabwe
...,...,...,...,...,...,...,...,...,...,...,...,...,...
566,166,173,110,13,8,150.9,3,not out,1,Thiruvananthapuram,15-Jan-23,ODI,Sri Lanka
587,122,147,94,9,3,129.78,3,not out,1,Colombo (RPS),10-Sep-23,ODI,Pakistan
592,55,64,56,6,0,98.21,3,not out,2,Delhi,11-Oct-23,ODI,Afghanistan
594,103,113,97,6,4,106.18,3,not out,2,Pune,19-Oct-23,ODI,Bangladesh
598,101,195,121,10,0,83.47,3,not out,1,Eden Gardens,05-Nov-23,ODI,South Africa

In [89]:
df.to_csv('modified_virat_data.csv', index=False)

In [93]:
runsin_dnb=df[df['Dismissal']=='Did Not Bat']

In [94]:
runsin_dnb

,Runs,Mins,Ball Faced,4s,6s,Strike Rate,Batting Position,Dismissal,Inns,Ground,Start Date,Match_Format,Opposition
21,NaN,0,0,0,0,0,0,Did Not Bat,0,Gwalior,24-Feb-10,ODI,South Africa
28,NaN,0,0,0,0,0,0,Did Not Bat,0,Harare,13-Jun-10,T20I,Zimbabwe
68,NaN,0,0,0,0,0,0,Did Not Bat,0,Roseau,06-Jul-11,Test,West Indies
109,NaN,0,0,0,0,0,0,Did Not Bat,0,Johannesburg,30-Mar-12,T20I,South Africa
145,NaN,0,0,0,0,0,0,Did Not Bat,0,Chennai,22-Feb-13,Test,Australia
164,NaN,0,0,0,0,0,0,Did Not Bat,0,Bulawayo,01-Aug-13,ODI,Zimbabwe
165,NaN,0,0,0,0,0,0,Did Not Bat,0,Bulawayo,03-Aug-13,ODI,Zimbabwe
170,NaN,0,0,0,0,0,0,Did Not Bat,0,Ranchi,23-Oct-13,ODI,Australia
197,NaN,0,0,0,0,0,0,Did Not Bat,0,Mirpur,05-Mar-14,ODI,Afghanistan
266,NaN,0,0,0,0,0,0,Did Not Bat,0,Bengaluru,14-Nov-15,Test,South Africa
282,NaN,0,0,0,0,0,0,Did Not Bat,0,Mirpur,03-Mar-16,T20I,U.A.E.
295,NaN,0,0,0,0,0,0,Did Not Bat,0,Lauderhill,28-Aug-16,T20I,West Indies
401,NaN,0,0,0,0,0,0,Did Not Bat,0,Hyderabad,12-Oct-18,Test,West Indies
493,NaN,0,0,0,0,0,0,Did Not Bat,0,Ahmedabad,24-Feb-21,Test,England
506,NaN,0,0,0,0,0,0,Did Not Bat,0,Nottingham,04-Aug-21,Test,England
515,NaN,0,0,0,0,0,0,Did Not Bat,0,Abu Dhabi,03-Nov-21,T20I,Afghanistan
517,NaN,0,0,0,0,0,0,Did Not Bat,0,Dubai (DICS),08-Nov-21,T20I,Namibia
583,NaN,0,0,0,0,0,0,Did Not Bat,0,Port of Spain,20-Jul-23,Test,West Indies
584,NaN,0,0,0,0,0,0,Did Not Bat,0,Bridgetown,27-Jul-23,ODI,West Indies
586,NaN,0,0,0,0,0,0,Did Not Bat,0,Pallekele,04-Sep-23,ODI,Nepal
589,NaN,0,0,0,0,0,0,Did Not Bat,0,Colombo (RPS),17-Sep-23,ODI,Sri Lanka

In [97]:
df.loc[runsin_dnb.index, ['Runs']] = 0

In [99]:
runsin_dnb

,Runs,Mins,Ball Faced,4s,6s,Strike Rate,Batting Position,Dismissal,Inns,Ground,Start Date,Match_Format,Opposition
21,NaN,0,0,0,0,0,0,Did Not Bat,0,Gwalior,24-Feb-10,ODI,South Africa
28,NaN,0,0,0,0,0,0,Did Not Bat,0,Harare,13-Jun-10,T20I,Zimbabwe
68,NaN,0,0,0,0,0,0,Did Not Bat,0,Roseau,06-Jul-11,Test,West Indies
109,NaN,0,0,0,0,0,0,Did Not Bat,0,Johannesburg,30-Mar-12,T20I,South Africa
145,NaN,0,0,0,0,0,0,Did Not Bat,0,Chennai,22-Feb-13,Test,Australia
164,NaN,0,0,0,0,0,0,Did Not Bat,0,Bulawayo,01-Aug-13,ODI,Zimbabwe
165,NaN,0,0,0,0,0,0,Did Not Bat,0,Bulawayo,03-Aug-13,ODI,Zimbabwe
170,NaN,0,0,0,0,0,0,Did Not Bat,0,Ranchi,23-Oct-13,ODI,Australia
197,NaN,0,0,0,0,0,0,Did Not Bat,0,Mirpur,05-Mar-14,ODI,Afghanistan
266,NaN,0,0,0,0,0,0,Did Not Bat,0,Bengaluru,14-Nov-15,Test,South Africa
282,NaN,0,0,0,0,0,0,Did Not Bat,0,Mirpur,03-Mar-16,T20I,U.A.E.
295,NaN,0,0,0,0,0,0,Did Not Bat,0,Lauderhill,28-Aug-16,T20I,West Indies
401,NaN,0,0,0,0,0,0,Did Not Bat,0,Hyderabad,12-Oct-18,Test,West Indies
493,NaN,0,0,0,0,0,0,Did Not Bat,0,Ahmedabad,24-Feb-21,Test,England
506,NaN,0,0,0,0,0,0,Did Not Bat,0,Nottingham,04-Aug-21,Test,England
515,NaN,0,0,0,0,0,0,Did Not Bat,0,Abu Dhabi,03-Nov-21,T20I,Afghanistan
517,NaN,0,0,0,0,0,0,Did Not Bat,0,Dubai (DICS),08-Nov-21,T20I,Namibia
583,NaN,0,0,0,0,0,0,Did Not Bat,0,Port of Spain,20-Jul-23,Test,West Indies
584,NaN,0,0,0,0,0,0,Did Not Bat,0,Bridgetown,27-Jul-23,ODI,West Indies
586,NaN,0,0,0,0,0,0,Did Not Bat,0,Pallekele,04-Sep-23,ODI,Nepal
589,NaN,0,0,0,0,0,0,Did Not Bat,0,Colombo (RPS),17-Sep-23,ODI,Sri Lanka

In [101]:
df.head(25)

,Runs,Mins,Ball Faced,4s,6s,Strike Rate,Batting Position,Dismissal,Inns,Ground,Start Date,Match_Format,Opposition
0,12,33,22,1,0,54.54,2,lbw,1,Dambulla,18-Aug-08,ODI,Sri Lanka
1,37,82,67,6,0,55.22,2,caught,2,Dambulla,20-Aug-08,ODI,Sri Lanka
2,25,40,38,4,0,65.78,1,run out,1,Colombo (RPS),24-Aug-08,ODI,Sri Lanka
3,54,87,66,7,0,81.81,1,bowled,1,Colombo (RPS),27-Aug-08,ODI,Sri Lanka
4,31,45,46,3,1,67.39,1,lbw,2,Colombo (RPS),29-Aug-08,ODI,Sri Lanka
5,2,6,2,0,0,100,7,not out,1,Colombo (RPS),14-Sep-09,ODI,Sri Lanka
6,16,28,24,1,0,66.66,4,caught,2,Centurion,26-Sep-09,ODI,Pakistan
7,NaN,0,0,0,0,0,0,Team Did Not Bat,0,Centurion,28-Sep-09,ODI,Australia
8,79,121,104,9,2,75.96,4,not out,2,Johannesburg,30-Sep-09,ODI,West Indies
9,30,53,41,3,0,73.17,4,caught,2,Vadodara,25-Oct-09,ODI,Australia
10,10,32,16,1,0,62.5,3,caught,2,Mohali,02-Nov-09,ODI,Australia
11,27,20,19,4,0,142.1,7,bowled,1,Rajkot,15-Dec-09,ODI,Sri Lanka
12,54,93,65,7,0,83.07,4,lbw,1,Nagpur,18-Dec-09,ODI,Sri Lanka
13,107,-,114,11,1,93.85,4,caught,2,Eden Gardens,24-Dec-09,ODI,Sri Lanka
14,NaN,0,0,0,0,0,0,Team Did Not Bat,0,Delhi,27-Dec-09,ODI,Sri Lanka
15,9,19,12,1,0,75,3,caught,1,Mirpur,05-Jan-10,ODI,Sri Lanka
16,91,136,102,7,0,89.21,3,caught,2,Mirpur,07-Jan-10,ODI,Bangladesh
17,71,98,68,9,0,104.41,3,not out,2,Mirpur,10-Jan-10,ODI,Sri Lanka
18,102,128,95,11,0,107.36,3,not out,2,Mirpur,11-Jan-10,ODI,Bangladesh
19,2,6,8,0,0,25,3,caught,1,Mirpur,13-Jan-10,ODI,Sri Lanka
20,31,-,46,1,0,67.39,5,caught,1,Jaipur,21-Feb-10,ODI,South Africa
21,0,0,0,0,0,0,0,Did Not Bat,0,Gwalior,24-Feb-10,ODI,South Africa
22,57,-,71,4,1,80.28,3,caught,2,Ahmedabad,27-Feb-10,ODI,South Africa
23,0,3,0,0,0,-,3,run out,1,Bulawayo,28-May-10,ODI,Zimbabwe
24,82,125,92,4,0,89.13,3,caught,2,Bulawayo,30-May-10,ODI,Sri Lanka

In [104]:
df=pd.read_csv("modified_virat_data.csv")

In [105]:
df

,Match ID,Runs,Mins,Ball Faced,4s,6s,Strike Rate,Batting Position,Dismissal,Inns,Ground,Start Date,Match_Format,Opposition
0,ODI # 2742,12.0,33,22,1,0,54.54,2,lbw,1,Dambulla,18-Aug-08,ODI,Sri Lanka
1,ODI # 2745,37.0,82,67,6,0,55.22,2,caught,2,Dambulla,20-Aug-08,ODI,Sri Lanka
2,ODI # 2750,25.0,40,38,4,0,65.78,1,run out,1,Colombo (RPS),24-Aug-08,ODI,Sri Lanka
3,ODI # 2755,54.0,87,66,7,0,81.81,1,bowled,1,Colombo (RPS),27-Aug-08,ODI,Sri Lanka
4,ODI # 2756,31.0,45,46,3,1,67.39,1,lbw,2,Colombo (RPS),29-Aug-08,ODI,Sri Lanka
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
603,Test #2520,76.0,137,82,12,1,92.68,4,caught,3,Centurion,26-Dec-23,Test,South Africa
604,Test #2522,46.0,103,59,6,1,77.96,4,caught,2,Cape Town,03-Jan-24,Test,South Africa
605,Test #2522,12.0,13,11,2,0,109.09,4,caught,4,Cape Town,03-Jan-24,Test,South Africa
606,T20I # 2431,29.0,20,16,5,0,181.25,3,caught,2,Indore,14-Jan-24,T20I,Afghanistan
607,T20I # 2435,0.0,1,1,0,0,0,3,caught,1,Bengaluru,17-Jan-24,T20I,Afghanistan

In [110]:
df1=pd.read_csv("Book1.csv")

In [111]:
df1

            Won
0    ODI # 2904
1    ODI # 2941
2    ODI # 2983
3    ODI # 2993
4    ODI # 2996
5    ODI # 3039
6    ODI # 3233
7    ODI # 3251
8    ODI # 3259
9    ODI # 3263
10   T20I # 265
11   T20I # 272
12   T20I # 282
13   T20I # 286
14   ODI # 3363
15   ODI # 3368
16   ODI # 3372
17   ODI # 3376
18   ODI # 3387
19   ODI # 3388
20   ODI # 3483
21   T20I # 378
22   T20I # 382
23   T20I # 393
24   T20I # 399
25   ODI # 3602
26   ODI # 3610
27   ODI # 3618
28   ODI # 3625
29   ODI # 3631
30   ODI # 3636
31   ODI # 3641
32   T20I # 512
33   T20I # 515
34   T20I # 517
35   ODI # 3878
36   ODI # 3886
37   ODI # 3891
38   ODI # 4150
39   ODI # 4155
40   ODI # 4161
41   ODI # 4169
42   ODI # 4175
43   ODI # 4182
44   ODI # 4187
45   T20I # 842
46   T20I # 843
47  T20I # 1390
48  T20I # 1396
49  T20I # 1410
50  T20I # 1750
51  T20I # 1754
52  T20I # 1761
53  T20I # 1842
54  T20I # 1848
55  T20I # 1860
56  T20I # 1873
57   ODI # 4632
58   ODI # 4639

In [113]:
merged_data = pd.merge(df, df1, left_on='Match ID', right_on='Won')

In [114]:
merged_data

,Match ID,Runs,Mins,Ball Faced,4s,6s,Strike Rate,Batting Position,Dismissal,Inns,Ground,Start Date,Match_Format,Opposition,Won
0,ODI # 2941,71.0,98,68,9,0,104.41,3,not out,2,Mirpur,10-Jan-10,ODI,Sri Lanka,ODI # 2941
1,ODI # 3363,31.0,46,41,2,0,75.6,3,caught,1,Cardiff,06-Jun-13,ODI,South Africa,ODI # 3363
2,T20I # 399,72.0,67,44,5,2,163.63,3,not out,2,Mirpur,04-Apr-14,T20I,South Africa,T20I # 399